{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}パスワード再設定{% endblock %}

{% block content %}

    <h1>パスワード再設定</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>パスワードをお忘れですか？パスワードをリセットするために、メールアドレスを入力してください。</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input class="btn btn-outline-primary" type="submit" value="リセットする" />
        <a class="btn btn-outline-primary" href="{% url 'account_login' %}">キャンセル</a>
    </form>

    <p>パスワードの再設定に問題がある場合はご連絡ください。</p>
{% endblock %}
