@charset "utf-8";

#contents {
    margin: 0 10%;
}

#contents h1,
#contents .buttons {
    margin: 24px 0;
    text-align: center;
}

#contents h3 {
    margin: 16px 0;
}

.space_1x1 {
    width: 50%;
    height: auto;
    float: left;

    /* background-color: #FAA; */
}

.space_1x2 {
    width: 100%;
    clear: left;

    /* background-color: #AAF; */
}

textarea#mainDescription {
    resize: none;
    width: 90%;
    height: 60px;
}

#imageSpace {
    width: 90%;
    height: 180px;
}
#mainPhotoDisplay {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .space_1x1 {
        width: 100%;
        clear: left;
    }
    
    .space_1x2 {
        width: 100%;
        clear: left;
    }
}

/* タイムライン */
.space_1x2 table {
    width: 100%;
}

#schedulePhotoSpace {
    width: 100%;
    height: 100%;
}

textarea {
    resize: none;
    width: 95%;
    height: 60px;
}
#mainDescription:not(textarea) {
    width: 95%;
    height: 135px;
    border: 1px solid #000;
}

td #Timeline_Span {
    width: 48px;
}

.dot {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 22px;
    border: 4px solid #000;
}

td#Timeline_TimePlace {
    width: 50%;
}
.timeDisplay {
    font-size: 48px;
}
.timeDisplay span {
    font-size: 16px;
}

td#Timeline_Photo {
    width: 50%;
}

.numberLine {
    position: relative;

    margin-left: 14px;

    width: 4px;
    background: #000;
}

#descriptionSpace {
    width: 30em;
    height: 6em;
    border: 1px solid #000;
}