{% extends "../base.html" %}

{% load i18n %}

{% block head_title %}旅行計画{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/planDetail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/memoSpaceSmall.css' %}">

<div id="contents">

    <h1>旅行計画</h1>

    <div class="space_1x1">
        {% for plan in planList %}
        {% load mathfilters %}
        <table>
            <tr>
                <td id="Timeline_Span">
                    <div class="dot">
                        {% if forloop.counter > 1 %}
                        <div class="numberLine" style="top: -163px; height: 163px;"></div>
                        {% endif %}
                    </div>
                </td>
                <td id="Timeline_TimePlace" class="timeDisplay">
                    {% if plan.2 != "NaN" %}
                    {{ plan.2|div:60|sub:0.5|floatformat:0 }}:{% if plan.2|mod:60 < 10 %}0{% endif %}{{ plan.2|mod:60 }}
                        {% else %} --:-- {% endif %} </td>
                <td rowspan="3" id="Timeline_Photo">
                    <div id="schedulePhotoSpace">
                        <img src="" alt="">
                    </div>
                </td>
            </tr>
            <tr>
                <td rowspan="2" id="Timeline_Span">
                </td>
                <td id="Timeline_TimePlace">
                    {{ plan.0 }}
                </td>
            </tr>
            <tr>
                <td id="Timeline_TimePlace">
                    <div id="descriptionSpace">{{ plan.4 }}</div>
                </td>
            </tr>
        </table>
        {% endfor %}
    </div>

    <div class="space_1x1">
        <h3>スケジュール</h3>
        <div id="memo" class="memo">
            <div id="memoSpace">
                <!-- なぜか狭まっとる！ -->
                <div class="schedule_table">
                    ここはスケジュールカードが入る欄
                </div>
            </div>
        </div>
        {% for plan in planList %}
        {% if plan.2 != "NaN" %}
        <input type="hidden" name="scheduleName" value="{{ plan.0 }}">
        <input type="hidden" name="scheduleBeginTime" value="{{ plan.2 }}">
        <input type="hidden" name="scheduleStayTime" value="{{ plan.3 }}">
        {% endif %}
        {% endfor %}
    </div>

    <div class="space_1x2">
        <br>
        <form action="{% url 'travel_planning:canceled' %}" method="POST">
            {% csrf_token %}
            <div class="d-flex">
                <div class="change mr-auto">
                    <a class="btn btn-outline-primary" href="{% url 'travel_planning:list' %}">戻る</a>
                </div>
                
                {% if user == planOwner %}
                    {% if object.is_action %}
                    <input type="hidden" name="ID" value="{{ object.pk }}">
                    <input class="btn btn-outline-warning" type="submit" value="投稿を取り消す">
                    {% endif %}
                    <a class="btn btn-outline-success" href="{% url 'travel_planning:plan-update' object.pk %}">編集</a>
                    <a class="btn btn-outline-danger" href="{% url 'travel_planning:mydelete' object.pk %}">削除</a>
                {% elif user.is_authenticated %}
                    <a class="btn btn-outline-warning" href="{% url 'travel_planning:plan-copy' object.pk %}">コピー</a>
                {% endif %}
            </div>
        </form>
        <br>
    </div>
</div>

<script src="{% static 'js/memoSpaceSmall.js' %}"></script>

{% endblock %}