{% extends "../base.html" %}

{% load i18n %}

{% block head_title %}共有機能{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sharePlan.css' %}">

<div id="contents">

    <h1>旅行計画投稿</h1>

    <form action="{% url 'travel_planning:result' %}" method="post">
        {% csrf_token %}

        <input type="hidden" name="ID" value="{{ object.pk }}">

        <div class="space_1x1">
            <section>
                <h2>
                    {% if object %}
                    {{ object }}
                    {% else %}
                    タイトルなし
                    {% endif %}
                </h2>
                <h3>メイン画像</h3>
                <input type="file" onchange="OnFileSelect(this);" name="メイン画像" id="mainPhoto"><br>
                <div id="imageSpace">
                    <img src="" alt="" id="mainPhotoDisplay">
                </div>
            </section>
            <section>
                <h3>詳細</h3>
                <textarea name="詳細" id="mainDescription" placeholder="32字以内で入力" maxlength="32">
                    {{ object.detail }}
                </textarea>
            </section>
        </div>

        <div class="space_1x1">
            <h3>スケジュール</h3>
        </div>

        <div class="space_1x2">
            {% for plan in planList %}
            {% load mathfilters %}
            <table>
                <tr>
                    <td id="Timeline_Span">
                        <div class="dot">
                            {% if forloop.counter > 1 %}
                            <div class="numberLine"></div>
                            {% endif %}
                        </div>
                    </td>
                    <td id="Timeline_TimePlace" class="timeDisplay">
                        {% if plan.2 != "NaN" %}
                        {{ plan.2|div:60|sub:0.5|floatformat:0 }}:{% if plan.2|mod:60 < 10 %}0{% endif %}{{ plan.2|mod:60 }}
                        {% else %}
                        --:--
                        {% endif %}
                    </td>
                    <td rowspan="3" id="Timeline_Photo">
                        <div id="schedulePhotoSpace">
                            <img src="" alt="">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" id="Timeline_Span">
                        
                    </td>
                    <td id="Timeline_TimePlace">
                        {{ plan.0 }}
                    </td>
                </tr>
                <tr>
                    <td id="Timeline_TimePlace">
                        詳細<br>
                        <textarea name="サブ詳細" cols="30" rows="10" placeholder="128字以内で入力" maxlength="128">
                            {{ plan.4 }}
                        </textarea>
                    </td>
                </tr>
            </table>
            {% endfor %}
        </div>

        <div class="buttons">
            <button class="btn btn-outline-primary" type="submit">登録</button>
            <a class="btn btn-outline-primary" href="{% url 'travel_planning:list' %}">戻る</a>
        </div>
    </form>
</div>

<script src="{% static 'js/sharePlan.js' %}"></script>

{% endblock %}
