{% extends "../base.html" %}

{% load i18n %}

{% block head_title %}旅行計画投稿{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sharePlan.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/memoSpaceSmall.css' %}">

<div id="contents">

    <h1>旅行計画投稿</h1>

    <form action="{% url 'travel_planning:success' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="hidden" name="ID" value="{{ object.pk }}">

        <p>{{ object.prefectural_names }}</p>

        <div class="space_1x1">
            <section>
                <h2>
                    {% if object %}
                    {{ object }}
                    {% else %}
                    タイトルなし
                    {% endif %}
                </h2>
                <input type="file" onchange="OnFileSelect(this);" name="メイン画像" id="mainPhoto" required><br>
                <div id="imageSpace">
                    <img src="" alt="" id="mainPhotoDisplay">
                </div>
            </section>
            <br>
            <section>
                <textarea name="詳細" id="mainDescription" placeholder="32字以内で詳細を入力" maxlength="32" required>{{ object.detail }}</textarea>
            </section>
        </div>

        <div class="space_1x1">
            <h3>スケジュール</h3>
            <div id="memo" class="memo">
                <div id="memoSpace">
                    <div class="schedule_table">
                        ここはスケジュールカードが入る欄
                    </div>
                </div>
            </div>
            {% for plan in planList %}
            {% if plan.2 != "NaN" %}
            <input type="hidden" name="scheduleName" value="{{ plan.0 }}">
            <input type="hidden" name="scheduleBeginTime" value="{{ plan.2 }}">
            <input type="hidden" name="scheduleStayTime" value="{{ plan.3 }}">
            {% endif %}
            {% endfor %}
        </div>

        <div class="space_1x2">
            {% for plan in planList %}
            {% load mathfilters %}
            <table>
                <tr>
                    <td id="Timeline_Span">
                        <div class="dot">
                            {% if forloop.counter > 1 %}
                            <div class="numberLine" style="top: -210px; height: 210px;"></div>
                            {% endif %}
                        </div>
                    </td>
                    <td id="Timeline_TimePlace" class="timeDisplay">
                        {% if plan.2 != "NaN" %}
                        {{ plan.2|div:60|sub:0.5|floatformat:0 }}:{% if plan.2|mod:60 < 10 %}0{% endif %}{{ plan.2|mod:60 }}
                        {% else %}
                        --:--
                        {% endif %}
                    </td>
                    <td rowspan="3" id="Timeline_Photo">
                        <div id="schedulePhotoSpace">
                            <img src="" alt="">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" id="Timeline_Span">
                        
                    </td>
                    <td id="Timeline_TimePlace">
                        {{ plan.0 }}
                    </td>
                </tr>
                <tr>
                    <td id="Timeline_TimePlace">
                        <textarea name="サブ詳細" cols="30" rows="20" placeholder="128字以内で詳細を入力" maxlength="128" required>{{ plan.4 }}</textarea>
                    </td>
                </tr>
            </table>
            {% endfor %}
            <table>
                <tr>
                    <td id="Timeline_Span">
                        <div class="dot">
                            <div class="numberLine" style="top: -210px; height: 210px;"></div>
                        </div>
                    </td>
                    <td id="Timeline_TimePlace" class="timeDisplay">
                        FINISH
                    </td>
                    <td id="Timeline_Photo">
                        
                    </td>
                </tr>
            </table>
        </div>

        <div class="buttons">
            <button class="btn btn-outline-success" type="submit">登録</button>
            <a class="btn btn-outline-primary" href="{% url 'travel_planning:mylist' %}">キャンセル</a>
        </div>
    </form>
</div>

<script src="{% static 'js/sharePlan.js' %}"></script>
<script src="{% static 'js/memoSpaceSmall.js' %}"></script>

{% endblock %}
