{% extends "../base.html" %}

{% load i18n %}

{% block head_title %}投稿取り消し{% endblock %}

{% block content %}

{% load static %}
<style>
    h2 {
        text-align: center;
        padding: 14px 0;
    }

    a {
        width: 100px;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 100px;
    }

    #main {
        text-align: center;
    }
</style>

<h2>投稿を取り消しました。</h2>

<a class="btn btn-outline-primary" href="{% url 'travel_planning:mylist' %}">OK</a>

<br>

{% endblock %}
