{% extends "base.html" %}

{% load static %}

{% block head_title %}保存プラン一覧{% endblock %}


{% block content %}
<style>
    /* プランカードのスタイル */
    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
    }
</style>
<main class="main mt-3">
    <div class="m-2">
        <div class="container">
            <h1 class="text-center p-2 mb-5 mt-5">保存プラン一覧</h1>
            <div class="row">
                    
                {% for plan in plan_list %}
                <div class="card mr-auto al-auto mb-4">
                    <div class="card-horizontal">
                        {% if plan.photo %}
                        <div class="img-square-wrapper">
                            <img style="width: 300px; height: 180px;" src="{{ plan.photo.url }}" alt="Card image cap">
                        </div>
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">{{ plan }}</h4>
                            <p class="card-text">{{ plan.detail }}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{ plan.ago }}</small>
                        
                        <div class="btn-group ml-5">
                            <a href="{% url 'travel_planning:mydetail' plan.pk %}">
                                <button type="button" class="btn btn-sm btn-outline-secondary">見る</button>
                            </a>
                            {% if not plan.is_action %}
                            <a href="{% url 'travel_planning:share' plan.pk %}">
                                <button type="button" class="btn btn-sm btn-outline-secondary">投稿</button>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% empty %}
                保存している計画はありません。
                {% endfor %}

            </div>
        </div>
    </main>
{% endblock %}